@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/dialog';

.table-group {
    width: 100%;
}

.accounts-table {
    th:first-child {
        width: 10%;
    }

    th {
        width: 15%;
    }
}

