@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/theme';
@import '../partials/dialog';
@import '../partials/timepicker';
@import '../partials/select2';

.accounts-form {
    .dr {
        display: inline-block;
        vertical-align: middle;
        margin-top: -12px;
    }

    .doctor {
        width: 20px;
        height: 20px;
    }

    .first-name {
        margin-top: 10px;
    }

    .role {
        display: inline-block;
        width: 330px;
        margin-top: 15px;
        text-align: left;
    }

}

.add-account {
    display: inline-block;
    float: right;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Ionicons';

    &:before {
        display: inline-block;
        margin-right: 10px;
        content: '\f2c7';
    }

    span {
        vertical-align: middle;
        font: $base-font-utility;
        font-size: 13px;
    }
}

.display {
    display: none;
}

.source-id {
    color: $base-font-grey;
}
