@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/theme';
@import '../partials/dialog';
@import '../partials/timepicker';
@import '../partials/select2';

.accounts-form {
    .dr {
        display: inline-block;
        vertical-align: middle;
        margin-top: -12px;
    }

    .doctor {
        width: 20px;
        height: 20px;
    }

    .first-name {
        margin-top: 10px;
    }

    .role {
        display: inline-block;
        width: 330px;
        margin-top: 15px;
        text-align: left;
    }

}

.display {
    display: none;
}

.source-id {
    color: $base-font-grey;
}

.account-icon {
    &:before {
        position: absolute;
        top: 0;
        left: -35px;
        font-family: 'Ionicons';
        display: inline-block;
        content: '\f47b';
        font-size: 30px;
    }
}

.doctor-mark {
    display: inline-block;
    height: 18px;
    width: 25px;
    vertical-align: middle;
    background: no-repeat image-url('isDoctor.png', false, false);
}

.form-group .checkbox {
    margin-top: 0;
    color: #333333;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
}

.provider.group,
.permission.group,
.alert.group {
    .checkbox {
        margin-top: 0;
    }
}
