@import '../partials/common';

.color-black {
    color: $base-color-medium-black;
}

.form {

    .form-style-content {
        padding: 32px 2px;
    }

    .greeting {
        position: relative;
        font-weight: 600;
        top: -5px;
        font-size: 20px;
    }

    .info {
        font-weight: 400;
        padding: 5px;
    }

    .input-container {
        margin: 24px 26px 0px 26px;
    }

    .input-combination {
        padding: 3% 0;
        margin-top: 0px;
    }
}

.terms-service {
    padding: 20px;
    font-size: 10pt;
}

.dark-link {
    text-decoration: underline;
    color: $base-color-medium-black;
}

.btn-submit {
    width: 165px;
    height: 42px;
    font-size: 13pt;
    margin-top: 20px;
}
