@import '../partials/common';

body {
    margin-bottom: 0;
}

p {
    padding: 20px 0;
    color: $base-color-medium-black;
    font-size: 16pt;

    span {
        font-weight: 600;
    }

    a {
        color: $base-color-blue-dark;
        font-size: 22px;
        word-break: break-all;
    }

    .italic {
        font-style: italic;
        font-weight: normal;
    }

    .example {
        font-weight: normal;
        margin-left: 30px;
    }
}

.header {
    position: inherit;
    border: 0;
}

.content {
    padding-top: 100px;
}

h1,
h4 {
    padding: 0 120px;
    font-weight: 500;
}

h1 {
    margin-bottom: 20px;
    color: $base-color-dark-grey;
    font-size: 34px;
}

h4 {
    margin-top: 40px;
    color: $base-color-dark-grey;
    font-size: 26px;

    span {
        font-size: 18px;
        padding: 5px 0px;
        margin-right: 10px;
        color: $base-color-white;
        background-color: $base-color-dark-grey;
        display: inline-block;
        width: 35px;
        text-align: center;
    }
}

.summary {
    padding: 40px 120px;
    background-color: $base-color-tab-bg;
}

.update {
    margin-top: 50px;
    padding: 20px 120px;
    background-color: $base-color-tab-bg;
}

.agreement-content {
    padding: 0 120px;
}

.agreement-footer {
    height: 36px;
    color: $base-color-white;
    background-color: $base-color-mid-grey;
    font-weight: 100;
    font-size: 11pt;

    ul {
        float: left;
        height: 30px;
        margin-left: 0;
        margin-top: 5px;

        li {
            float: left;
            font-size: 11pt;
            height: 30px;
            margin: 0;
            line-height: 30px;

            a {
                color: $base-color-white;
                font-weight: 100;
                font-size: 11pt;
            }

            &:before {
                padding-right: 10px;
                padding-left: 10px;
                font-size: 16px;
                content: '|';
            }
            &:first-child {

                &:before {
                    padding-left: 0;
                    content: '';
                }
            }
        }
    }

    .copyright {
        float: left;
        text-align: center;

        ul {
            margin-left: 10px;

            li {
                font-size: 11pt;
                &:before,
                &:after {
                    padding-left: 0;
                    content: '';
                }
            }
        }

        .copyright-field {
            float: left;

            .logo {
                margin-top: 7px;

                img {
                    height: 14px;
                }
            }
        }
    }

}


ul {
    margin-left: 15px;

    li {
        font-size: 22px;
        line-height: 35px;

        .dot {
            margin-right: 10px;
            vertical-align: middle;
            overflow: hidden;

            &:before {
                font-size: 16px;
                color: $base-color-dark-grey;
                content: '•';
            }
        }

        a {
            color: $base-color-blue-dark;
            font-size: 22px;
            word-break: break-all;
        }
    }
}
