@import '../partials/common';
@import '../partials/error';

.error-body {
    margin-top: 138px;
    padding: 0;
    color: $base-logo-color;
    text-align: center;

    .top-content {
        font-weight: 400;
        font-size: 58px;
    }

    .middle-content {
        font-weight: 400;
        font-size: 116px;
    }

    .bottom-content {
        padding-top: 50px;
    }

    .text-font {
        font-size: 19px;
    }

    .btn-home {
        padding: 10px 34px;
        font-size: 18px;
    }

    .logo {
        margin-top: 50px;

        &:before {
            content: url('../../../images/login/ratchet_health_cube.png');
        }
    }
}

.expire-body {
    margin-top: 250px;

    .invite-expire-top {
        font-weight: 700;
        font-size: 60px;
    }

    .invite-expire-middle {
        margin-top: 20px;
        font-weight: 400;
    }

    .expire-logo {
        margin-top: 50px;
    }
}
