@import '../partials/common';
@import '../partials/error';

.error-body {
    margin-top: 138px;
    padding: 0;
    color: $base-logo-color;
    text-align: center;

    .top-content {
        font-weight: 500;
        font-size: 58px;
    }

    .middle-content {
        font-weight: 500;
        font-size: 116px;
    }

    .bottom-content {
        padding: 50px 0;
    }

    .text-font {
        font-size: 19px;
    }

    .btn-home {
        padding: 10px 34px;
        font-size: 18px;
    }

    .logo {

        &:before {
            content: url('../../../images/login/ratchet_health_cube.png');
        }
    }
}
