@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/dialog';
@import '../partials/timepicker';

.home {
    padding-top: 50px;

    .welcome-title {
        text-align: center;
    }

    .logout {
        padding-top: 10px;
        text-align: center;

        .btn-logout {
            border: 1px solid;
            display: block;
            margin-left: 45%;
            text-decoration: none;
            width: 100px;
        }
    }
}

//.content {
//    margin-left: 20px;
//    margin-top: 30px;
//}
