@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/dialog';
@import '../partials/timepicker';

.home-content {
    height: 100%;
    width: 100%;

    .report-content {
        width: 70%;

        .report-chart {
            min-height: 640px;
        }
    }

    .activity-task {
        border-left: 1px solid $base-dark-blue-color;
        height: 910px;
        width: 29.7%;

        .activity {
            margin-bottom: 10px;
            min-height: 640px;
            width: 100%;
        }
    }

    .inner-header {
        background: $base-color-grey;
        border-bottom: 1px solid $base-dark-blue-color;
        padding: 17px;
    }
}

.activity-content {
    border-bottom: 1px solid $base-dark-blue-color;
    margin: 10px;
    padding: 5px 20px 20px;

    li {
        margin-top: 10px;

        .color {
            color: $base-color-light-black;
        }
    }

    .li-content {
        @include border-radius(5px);
        background: $base-blue-color;
        color: $base-color-white;
        padding: 0 5px;
    }

    .li-last-update {
        font-size: x-small;
    }
}
