@import '../partials/common';

.image-ratchet-health {
    background: url('../../../images/login/ratchet_health_big.png') no-repeat 0 0;
}

.cover-inner-header {
    width: 74%;
    height: 45px;
    margin: 0 auto;
    padding-bottom: 44px;
}

.form {

    .cover-inner-footer {
        padding-top: 58px;

    }

    .remember-me {
        padding-left: 2px;
        font-size: 11pt;
    }

    .box-check {
        width: 14px;
        height: 14px;
    }

    .forgot-password {
        display: block;
        padding-top: 8px;
    }
}

.btn-submit {
    width: 132px;
    height: 42px;
    font-size: 15pt;

}
