@import '../partials/common';

.form {

    .cover-inner-footer {
        padding-top: 58px;
    }

    .remember-me {
        padding-left: 2px;
        font-size: 11pt;
    }

    .box-check {
        width: 14px;
        height: 14px;
    }

    .forgot-password {
        display: block;
        padding-top: 8px;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.btn-submit {
    width: 132px;
    height: 40px;
    font-size: 16px;
}

.optimize-prompt {
    text-align: center;
    padding: 20px;
    background-color: $base-color-optimize;
    display: none;
    font-family: Lato;
    font-weight: 300;

    .display-inline {
        display: inline-block;
        color: $base-color-white;
    }

    .margin-left {
        margin-left: 15px;
    }

    .close-decoration{
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1024px) {
    .optimize-prompt {
        display: block;
    }
}
