@import '../partials/common';

.form {

    .cover-inner-footer {
        padding-top: 58px;
    }

    .remember-me {
        padding-left: 2px;
        font-size: 11pt;
    }

    .box-check {
        width: 14px;
        height: 14px;
    }

    .forgot-password {
        display: block;
        padding-top: 8px;
    }

}

.btn-submit {
    width: 132px;
    height: 42px;
    font-size: 12pt;
}
