@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/dialog';
@import '../partials/tab';
@import '../partials/overview';
@import '../partials/activity';
@import '../partials/treatment_report';
@import '../partials/dropdown';
@import '../partials/caregiver';
@import '../partials/selector';
@import '../partials/timepicker';
@import '../partials/theme';
@import "../partials/combobox";
@import '../partials/select2';
@import "../partials/genderCombobox";
@import '../partials/task';

.icon-edit,
.icon-archived {
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: transparent;
    }
}

.icon-archived.disabled,
.icon-edit.disabled {
    background-color: transparent;

    &:before {
        color: $base-color-grey;
    }
}

.event-time-picker {
    display: block;
    color: $base-color-mid-grey;
    font-size: 9pt;
}

.ui-dialog {
    //    background: $base-color-white;

    .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: none;
        text-align: center;
    }
}

.ui-button {
    &:hover {
        background: none;
    }
}

.container {
    .content {
        .patient-tab {
            display: none;
            border: 0;
        }

        .sub-tabs {
            border: 0;
        }
    }
}

.ui-datepicker {
    border: 1px solid $base-color-dark-grey;
    background: $base-color-white;
}

.ui-tabs {
    min-width: 950px;
}

.caregiver-info {
    margin-top: 20px;
    height: 170px;
}

.treatment-time-form,
.edit-surgeon {
    text-align: center;

    .form-group {
        width: 71%;
    }
}

.treatment-time-form.ui-dialog-content {
    overflow-y: hidden;
}

.surgery {
    position: relative;
    display: inline-block;

    .care-team {
        position: absolute;
        width: 150px;
        margin-left: 10px;
    }

    .text {
        margin-left: 32px;
    }
}

.team-permission-confirm {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    color: $base-font-grey;
    font-size: 11.7px;

    input {
        margin: 0;
    }
}

.permission-confirm {
    visibility: hidden;
    margin-top: 7px;
    margin-bottom: 0;
    color: $base-font-grey;
    font-size: 11.7px;

    input {
        margin: 0;
    }
}

.visible {
    visibility: visible;
    width: 95%;
}

.caregiver-required {
    display: none;
}

.treatment-info-title {
    margin-top: 15px;
}

.msg-center {
    text-align: center;
    color: $base-color-dark-gray;
    font-size: 15px;
    font-style: italic;

    .link-to-patient {
        color: #333;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
    }

}

.msg-header {
    font-size: 18px;
    font-style: normal;
    padding: 20px 15px;
}

.code {
    background-color: $base-logo-color;
    color: $base-color-white;
    width: 200px;
    padding: 15px;
    margin: 15px auto;
    font-size: 20px;
    font-style: normal;
}

.add-tasks-dialog {
    padding: 0 !important;

    .section {
        position: relative;
        padding: 25px;
    }

    .section-2 {
        border-top: 10px solid rgba(0, 0, 0, 0.2);
    }

    .select-all {
        position: absolute;
        top: 19px;
        right: 25px;
    }

    .task-list {
        height: 500px;
        margin-top: 30px;
        margin-left: -30px;
        margin-right: -20px;
        overflow-y: scroll;
    }

    .task-item {
        float: left;
        position: relative;
        display: inline-block;
        width: 260px;
        height: 200px;
        padding: 15px;
        margin-left: 30px;
        margin-bottom: 30px;
        border: 1px solid #738994;

        .title {
            font-weight: 700;
            font-size: 16px
        }

        .description {
            margin-top: 25px;
            color: $base-color-medium-black;
        }

        label {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
        }
        [type="checkbox"]:not(:checked) + span,
        [type="checkbox"]:checked + span {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
        }

        /* checkbox aspect */
        [type="checkbox"] + span:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 25px;
            height: 25px;
            border: 2px solid #305e6e;
        }

        [type="checkbox"]:not(:checked) + span:before {
            background: #fff;
        }

        [type="checkbox"]:checked + span:before {
            background: #305e6e;
        }

        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + span:after,
        [type="checkbox"]:checked + span:after {
            content: '\f122';
            font-family: 'Ionicons';
            position: absolute;
            top: 9px;
            left: 6px;
            font-size: 16px;
            line-height: 0.8;
            color: #fff;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + span:after {
            visibility: hidden;
        }
        [type="checkbox"]:checked + span:after {
            visibility: visible;
        }
    }

    .section-desc {
        color: $base-color-medium-black;
        font-weight: 700;
        font-size: 16px;
    }

    .form-group {
        margin-top: 20px;
        margin-left: 0;

        .lbl-group {
            font-weight: 700;
            font-size: 13px;
        }
    }

    .no-tasks {
        height: 400px;
        text-align: center;
        color: $base-color-medium-black;

        .icon {
            margin-top: 100px;
            &:before {
                content: '\f2ba';
                font-family: "Ionicons";
                font-size: 90px;
                color: #e2e2e2;
            }
        }

        .title {
            margin-top: 20px;
            font-weight: 700;
            font-size: 20px;
        }

        .description {
            margin-top: 20px;
            font-size: 18px;
        }
    }

    .schedule-date-group {
        position: relative;
        width: 100%;
    }

    .surgery-date-relative-indicator {
        position: absolute;
        top: 25px;
        left: 300px;
        font-weight: 700;
        color: #333;
        font-size: 14px;
    }
}

.ui-tabs .ui-tabs-nav {
    .code-generation {
        position: absolute;
        right: 120px;
        line-height: 40px;
        padding: 2px 0;

        .btn-generate-code-disabled {
            color: $base-color-grey;
            border-color: $base-color-grey;
            cursor: auto;

            &:hover {
                background-color: transparent;
                color: $base-color-grey;
            }
        }
    }
}

.btn-treatment-level {
    padding: 1px 8px;
    margin-left: 12px;
    &:before {
        font-family: 'Ionicons';
        display: inline-block;
        font-size: 20px;
    }
}

.btn-add-task {
    &:before {
        content: '\f489';
    }

    &.disabled {
        background: none;
        color: #ccc;
        border: 1px solid #ccc;

        &:hover {
            background: none;
            color: #ccc;
            border: 1px solid #ccc;
        }
    }
}

.btn-notify {
    &:before {
        content: '\f399';
    }
}

.btn-generate-code {
    &:before {
        content: '\f457';
    }
}

.text-span {
    position: relative;
    padding-left: 3px;
    top: -2px;
    vertical-align: middle;
}

.no-treatment-container {
    text-align: center;

    .icon {
        margin-top: 100px;
        &:before {
            content: '\f185';
            font-family: FontAwesome;
            font-size: 90px;
            color: #e2e2e2;
        }
    }

    .title {
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .description {
        margin-top: 20px;
        font-size: 18px;
        color: $base-font-grey;
    }

    .add-treatment {
        margin-top: 40px;
        background-color: $base-color-dark-grey;
        height: 38px;
        font-size: 15px;

        &:before {
            top: 7px;
            left: 11px;
        }

        &:hover,
        &:focus {
            border: 1px solid $base-color-dark-grey;
            color: $base-color-dark-grey;
            background: none;

            span,
            &:before {
                color: $base-color-dark-grey;
            }
        }
    }
}

.patient-form {
    .intl-tel-input {
        margin-top: 3px;
    }

    .ui-combobox {
        .birthday-month {
            min-width: 50px;
        }

        .birthday-day {
            min-width: 35px;
        }

        .birthday-year {
            min-width: 60px;
        }
    }
}

.top-tabs-container {
    border: 0;
    border-top: 10px solid $base-color-white-grey;

    .ui-tabs-panel {
        padding: 0;
        border: 0;

        .content.archived {
            background-color: #f4f4f4;
        }
    }

    .top-tab-list {
        height: 60px;
    }

    .tab-list,
    .top-tab-list {
        position: relative;
        padding: 0;
        border: 0;
        border-bottom: 4px solid $base-color-white-grey;
        font-weight: 300;

        .ui-state-default {
            margin: 0;
            padding: 0;
        }

        .ui-tabs-anchor {
            display: inline-block;
            padding: 0 30px;
            border-bottom: 4px solid transparent;
            color: #666666;
            font-size: 15px;
            line-height: 60px;
            font-weight: 400;
        }

        .ui-state-active {
            a {
                border-color: $base-color-dark-grey;
                color: $base-color-dark-grey;
                font-weight: 400;
            }
        }
    }

    .patient-tab-tool {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 17px;

        .icon-button {
            font-size: 20px;
            margin-right: 30px;
            color: #225f6f;
            width: 30px;
            height: 30px;
            display: inline-block;
            box-sizing: border-box;
            padding-top: 2px;
            padding-left: 5px;

            &.not-available {
                color: #b3b3b3;

                &:hover {
                    color: #b3b3b3;
                    background-color: transparent;
                    cursor: default;
                }
            }

            &:hover {
                background-color: #225f6f;
                color: #fdfdfd;
            }
        }

        .notify-button {
            margin-right: 15px;

            i {
                font-weight: 700;
            }
        }

        .notify-button-tip {
            top: -9px;
            right: 74px;
        }

        .get-code-button-tip {
            top: -9px;
            right: 14px;
        }
    }
}

.treatment-tabs-container {
    position: relative;
    border: 0;
    height: calc(100vh - 285px);
    display: flex;
    display: -ms-flexbox;

    .ui-tabs-panel {
        min-height: 100%;
        border-left: 1px solid $base-color-white-grey;
    }

    .treatment-nav {
        width: 220px;
        height: 100%;
    }

    .treatment-manage-container {
        display: inline-block;
        height: 70px;
        width: 220px;
        text-align: center;
        border-bottom: 1px solid $base-font-color;
        z-index: 10;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .btn-add-treatment {
            float: none;
            margin-top: 0;
            vertical-align: middle;
        }
    }

    .sub-treatment-tool {
        padding-left: 36px;
        color: $base-light-grey-color;
        font-size: 15px;

        li {
            margin: 16px 0;
            &:hover,
            &:focus {
                color: $base-logo-color;
                cursor: pointer;
            }
        }

        .fa {
            width: 15px;
        }
    }

    .tab-list {
        border: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 220px;
        height: calc(100% - 71px);

        .treatment-li {
            &:hover,
            &:focus {
                .treatment-indicate {
                    background: $base-logo-color;
                    color: $base-color-white;
                }
                .ui-tabs-anchor {
                    color: $base-logo-color;
                }
            }
        }

        .ui-state-default {
            position: relative;
            overflow: hidden;
            transition: 0.4s height;
            height: 65px;
            margin: 0;
            padding: 0;
            background-color: $base-color-bg-head;
            cursor: default;
            color: $base-font-grey;
        }

        .treatment-indicate {
            position: absolute;
            top: 22px;
            left: 11px;
            display: inline-block;
            width: 20px;
            background: $base-color-grey;
            text-align: center;
            font-size: 12px;
            border-radius: 8px;
            color: $base-color-medium-black;
            line-height: 18px;
            height: 17px;
            cursor: pointer;
        }

        .ui-tabs-anchor {
            display: block;
            padding: 0 36px;
            border-bottom: 0;
            min-width: 150px;
            font-size: 15px;
            line-height: 60px;
            text-transform: capitalize;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $base-font-grey;
            cursor: pointer;
        }

        .ui-state-active {
            height: 222px;
            background-color: $base-color-bg-head;
            border-bottom: 1px solid $base-font-color;
            //            cursor: text;
            color: $base-color-dark-grey;

            a {
                color: $base-color-dark-grey;
                font-weight: 400;
                font-size: 15px;
                border-color: $base-color-mid-grey;
                line-height: 20px;
                white-space: normal;
                min-height: 40px;
                max-height: 56px;
                padding-top: 20px;
            }

            .treatment-indicate {
                background: $base-logo-color;
                color: $base-color-white;
            }
        }

        .addTasks, .event-time-edit, .archived-active {
            &.not-available {
                color: #cccccc;

                &:hover {
                    color: #cccccc;
                    cursor: text;
                }
            }
        }

        .archived-treatment {

            .sub-treatment-tool {
                opacity: 0.6;
            }

            .addTasks, .event-time-edit, .archived-active {
                &:hover, &:focus {
                    color: inherit;
                    cursor: text;
                }
            }

            .treatment-delete {
                color: black;

                &:hover, &:focus {
                    color: #05415d;
                }
            }

            &.ui-state-active {
                background-color: #f4f4f4;

                .treatment-indicate {
                    background: $base-color-grey;
                    color: $base-color-medium-black;
                }

                .ui-tabs-anchor {
                    color: $base-font-grey;
                }
            }

            .archived-indicator {
                position: absolute;
                right: 18px;
            }
        }
    }

    .treatment-panel-container {
        //        float: left;
        width: calc(100% - 220px);
        box-sizing: border-box;
        border-left: 1px solid $base-font-color;
        height: 100%;
    }

    .treatment-tool-bar {
        height: 50px;

        .treatment-date {
            display: inline-block;
            line-height: 50px;
            margin-left: 30px;
            color: #666666;
            font-size: 14px;
        }

        .right-part {
            margin-right: 30px;
            line-height: 50px;
        }

        .archived-treatment-title {
            display: inline-block;
            color: #4d4d4d;
            margin-left: 40px;
            font-size: 16px;
        }
    }

    .archived {
        .treatment-date {
            opacity: 0.5;
        }
    }

    .more-button {
        position: relative;
        display: inline-block;
    }

    .drop-down-toggle {
        position: relative;
        display: inline;
        padding: 13px 0 0 45px;
        background: none;
        border: none;
        color: $base-surgery-date-bgcolor;
        font-size: 17px;

        &:before {
            position: absolute;
            top: 0;
            left: 23px;
            font-family: 'Ionicons';
            display: inline-block;
            content: '\f394';
            font-size: 23px;
            color: $base-font-grey;
            overflow: hidden;
            cursor: pointer;
        }
    }

    .btn-disabled {
        color: $base-color-grey;

        &:hover {
            text-decoration: none;
        }
    }

    .more-btn {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .more-btn-disabled {
        &:hover {
            cursor: auto;
            text-decoration: none;
        }
    }

    .drop-down-lists {
        position: absolute;
        right: 0;
        z-index: 999;
        width: 90px;
        background-color: $base-color-white;
        border: 1px #225f6f solid;

        .drop-down-list {
            font-weight: 400;
            line-height: 25px;
            padding: 2px 10px;
            text-align: left;
            width: 70px;
            border: 0;
            float: left;

            &:hover {
                color: $base-color-white;
                background-color: $base-surgery-date-bgcolor;
            }
        }
    }
}

.add-treatment {
    width: 142px;
    height: 30px;
    margin-right: 0;
    padding: 0 0 0 10px;
    border: 1px solid $base-color-white;
    color: $base-color-white;

    &:before {
        position: absolute;
        top: 3px;
        left: 8px;
        padding-left: 4px;
        content: '\f489';
        color: $base-color-white;
        font-size: 20px;
        font-family: ionicons;
    }

    span {
        display: inline-block;
        padding-left: 20px;
        color: $base-color-white;
        font-size: 14px;
    }
}

.top-tabs-content {

    .toolbar {
        margin: 22px 40px 0;
    }

}

.add-group-form {
    color: $base-color-medium-black;

    .title {
        margin: 20px;
        font-weight: $bold;
        font-size: 17px;
    }

    .lbl-group {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: $bold;
        font-size: 13px;
    }

    .form-group {
        .select2-container.select2-container-multi {
            width: 482px;
        }

    }
}

.patient-report-section,
.patient-group-section,
.patient-caregiver-section,
.patient-activities-section {
    visibility: hidden;
}

.patient-group-section {
    .toolbar {
        min-height: 40px;
        margin: 0;
        padding: 30px 30px 0;
    }

    .btn-add-group {
        position: relative;
        top: 18px;
        right: 10px;
        margin-top: 0;
    }
}


.list {
    padding-left: 20px;

    .error-container {
        top: -19px;
    }

    &.error-help-block {
        .rc-radio {
            border: 2px solid $base-color-red;
        }

        .input-text {
            border: 1px solid $base-color-error-border;
        }
    }
}

.answer-discharge-form {
    .list {
        padding-top: 1px;
    }
}

.answer-snf-form {
    .answer {
        margin: 5px 0;
        padding: 7px 0;
    }

    .input-text {
        height: 30px;
        width: 50px;
        border: 1px solid $base-color-boder;
        text-align: center;
    }

    .expected-label {
        margin-top: 8px;
        display: inline-block;

        span {
            padding-left: 10px;
        }
    }
}

.answer {
    margin: 16px 0 16px 26px;
    font-size: 17px;

    .choice {
        height: 26px;
        display: inline-block;
        vertical-align: middle;
    }

    .text {
        display: inline-block;
        margin-left: 13px;
        vertical-align: middle;
    }
}

.decline {

    .decline-msg {
        width: 240px;
        margin: 3px 0 0 2px;
        display: inline-block;
        font-size: 12px;
        color: #333;
        font-weight: 400;
    }

    .warn-msg {
        color: red;
    }
}


#emailStatus {
    vertical-align: 15px;
    min-width: 12px;
    margin: 0;
    padding: 0;
    width: 12px;
}

.birthday-block {
    margin-top: -15px;
}

.edit-decline {
    vertical-align: 15px;
    margin-top: 8px;
    color: #3d3d3d;
}

.phone-block {
    vertical-align: top;
}
