@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/theme';
@import '../partials/dialog';
@import '../partials/timepicker';

.inline {
    display: inline-block;
}

.add-patient {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-family: 'Ionicons';

    &:before {
        display: inline-block;
        margin-right: 10px;
        content: '\f2c7';
    }
}

