@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/theme';
@import '../partials/dialog';
@import '../partials/timepicker';

.add-patient {
    display: inline-block;
    float: right;
    margin-top: 10px;
    border: 1px $base-color-grey solid;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Ionicons';

    &:hover,
    &:focus {
        border: 1px $base-color-dark-grey solid;
    }

    &:before {
        display: inline-block;
        margin-right: 10px;
        content: '\f2c7';
    }
}

.inline {
    display: inline-block;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}

.ui-widget-content {
//    background: $base-color-white;
}

.div-hidden {
    display: none;
}

.ui-datepicker-div {
    .ui-datepicker-header {
        border-bottom: 1px solid $base-color-dark-grey;
    }
}

.surgery {
    position: relative;
    display: inline-block;

    .care-team {
        position: absolute;
        width: 150px;
        margin-left: 10px;
    }

    .text {
        margin-left: 32px;
    }
}

.source-id {
    color: $base-font-grey;
}

.treatment-search-patient {
    max-width: 220px;
}

