@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/dialog';

.content {
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;

    .dataTables_processing {
        display: none !important;
    }

    .lbl-by {
        margin-left: 2%;
    }

    .dataTables_paginate {
        margin-right: 10%;
        margin-top: 30px;
        text-align: right;

        .paginate_button {
            margin-right: 10px;
        }

        span {
            margin-right: 5px;
        }
    }
}

.dataTable {
    margin-top: 30px;

    th {
        &:first-child {
            width: 40%;
        }
    }
}
