@import '../partials/common';
@import '../partials/table';
@import '../partials/form';
@import '../partials/theme';
@import '../partials/dialog';
@import '../partials/timepicker';

.add-patient {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-family: 'Ionicons';

    &:before {
        display: inline-block;
        margin-right: 10px;
        content: '\f2c7';
    }
}

.inline {
    display: inline-block;
}

h4 {
    margin-bottom: 0;
    margin-left: 20px;
    color: $base-color-black;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}

.ui-widget-content {
    background: $base-color-white;
}

.div-hidden {
    display: none;
}

.ui-datepicker-div {
    .ui-datepicker-header {
        border-bottom: 1px solid $base-color-dark-grey;
    }
}

.surgery {
    position: relative;
    display: inline-block;

    .care-team {
        position: absolute;
        width: 150px;
        margin-left: 10px;
    }

    .text {
        margin-left: 32px;
    }
}


