@import '../partials/common';

.cover-inner-footer {
    padding-top: 58px;
}

.form-style-content {
    text-align: center;
}

.form-text {
    padding: 10px 0;
    font-size: 14px;
}

.color-black {
    color: $base-color-medium-black;
}

.p-title {
    font-weight: 400;
    font-size: 25px;
}

.bolder {
    font-weight: 700;
}

.btn.btn-large {
    min-height: inherit;
    padding: 10px 22px;
    font-size: 16px;
}

.btn-reset {
    width: 180px;
    padding: 10px 22px;
    font-size: 16px;
}
