@import 'taskResult';

@page {
    margin: 0cm;
}

.sticky-header {
    .header {
        height: 40px;
    }

}

.task-result-content {
    margin-top: 140px;
}

.info-container {
    height: 55px;

    .title {
        font-size: 16px;
    }

    .sub-info-panel {
        .patient-info {
            font-size: 11px;
        }
    }

    .status {
        font-size: 11px;
    }

    .complete-time {
        font-size: 11px;
    }

    .name {
        font-size: 11px;
    }

    .id {
        font-size: 11px;
    }

    .birthday {
        font-size: 11px;
    }
}

.download {
    display: none;
}

.result-info {
    height: 35px;
    -webkit-print-color-adjust: exact;
    background-color: #335d70 !important;
    color: white !important;
    padding-top: 12px;

    .score-des {
        font-size: 12px;
    }
    .score-num {
        font-size: 12px;
    }
}


