@import '../../partials/variable';
@import '../../partials/base';
@import '../../partials/header';

$result-main-color: #335d70;

html, body, div, span {
    font: $base-font-utility;
}

* {
    box-sizing: border-box;
}

.sticky-header {
    background-color: white;
    border-bottom: 2px solid #335d70;
    color: #333;

    .header {
        border-bottom-color: $result-main-color;
    }

    .toolbar {
        padding-left: 30px;
        padding-top: 10px;
    }
}

#main {
    margin-top: 143px;
    border: 20px solid #e6e8e8;
    padding: 30px;
}

.page-footer {
    padding-bottom: 14px;
    text-align: center;
    color: #7b8994;
}

.info-container {
    position: relative;
    height: 66px;
    padding: 20px 32px;

    .title {
        font-size: 21px;
        font-weight: 500;
        color: #335d70;
        margin-right: 15px;
        display: inline-block;
        @include breakpoint('mobile') {
            margin-top: -5px;
        }
        @include  breakpoint('desktop') {
            margin-top: 0;
        }
    }

    .sub-info-panel {
        color: #333;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;

        .status {
            color: #333;
            font-size: 14px;
            font-weight: 500;
        }

        .complete-time {
            font-size: 14px;
            font-weight: 700;
        }

        .name {
            color: #333;
            font-size: 14px;
            font-weight: 700;
        }

        .id {
            margin-right: 10px;
            font-size: 14px;
            font-weight: 500;

            &.only-id {
                margin-right: 0;
            }
        }

        .birthday {
            .icon {
                margin-right: 5px;
            }
            font-size: 14px;
            font-weight: 500;
        }

        .download {
            position: absolute;
            top: 27px;
            right: 32px;
            a {
                font-size: 14px;
                color: #808080;
            }

        }

        .download {
            a:hover {
                color: #4d4d4d;
            }
        }
    }
}



.result-info {
    height: 53px;
    background-color: #335d70;
    color: white;
    padding-top: 17px;

    .score-wrap:first-child {
        margin: 0 16px 0 32px;
    }

    .score-wrap {
        margin-right: 16px;
    }
    .score-des {
        font-size: 16px;
        display: inline-block;
    }
    .score-num {
        text-transform: capitalize;
        font-size: 16px;
        display: inline-block;
    }

}
