@import '../../partials/variable';
@import '../../partials/base';
@import '../../partials/header';

$result-main-color: #335d70;

html, body, div, span {
    font: $base-font-utility;
}

* {
    box-sizing: border-box;
}

.sticky-header {
    background-color: white;
    border-bottom: 2px solid #335d70;
    color: #333;

    .header {
        border-bottom-color: $result-main-color;
    }

    .info-container {
        padding: 20px 30px;

        .title {
            font-size: 22px;
            font-weight: 700;
            color: $result-main-color;
        }

        .sub-info-panel {
            position: relative;
            margin-top: 10px;
        }

        .patient-info, .name, .id, .birthday {
            font-size: 18px;
            font-weight: 700;
        }

        .name {
            margin-right: 10px;
        }

        .id {
            margin-left: 10px;
            margin-right: 30px;
        }

        .birthday {
            i {
                margin-right: 5px;
            }
        }
    }

    .questionnaire-info {
        position: absolute;
        bottom: -13px;
        right: 0;

        .status,
        .score-num,
        .score-des {
            font-size: 18px;
            font-weight: 700;
            color: $result-main-color;
        }

        .status {
            position: relative;
            top: -9px;
            padding-right: 20px;
            display: inline-block;
            line-height: 30px;
        }

        .score {
            display: inline-block;
            position: relative;
            padding-left: 20px;
            text-align: center;
        }

        .divider {
            height: 33px;
            position: absolute;
            left: 0;
            top: 7px;
            border-left: 1px solid #ddd;
        }
    }
}

#main {
    margin-top: 143px;
    border: 20px solid #e6e8e8;
    padding: 30px;
}

.download {
    display: inline-block;
    position: absolute;
    top: -40px;
    right: 0;
    a {
        color: #7b8994;
    }
}

.page-footer {
    padding-bottom: 14px;
    text-align: center;
    color: #7b8994;
}

.score-wrap {
    display: inline-block;
}
