@import '../taskResult';

body {
    margin-bottom: 0;
}

.toolbar {
    padding-left: 30px;
    padding-top: 10px;
}

.question-list {
    margin: 0 0 30px 35px;
}

.question {
    font-size: 18px;
    font-weight: 700;
    color: $result-main-color;
}

.answer {
    position: relative;
    margin-top: 10px;

    .text {
        margin-left: 35px;
        font-size: 16px;
    }
}

.result-circle-radio {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
}

.result-circle-radio-checked {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $result-main-color;
}

.task-list-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.task-list-part {
    float: left;
    width: 50%;
    box-sizing: border-box;

    &.part-0 {
        margin-left: -25px;
        padding-right: 40px;
        border-right: 1px solid #8e8e8e;
    }

    &.part-1 {
        padding-left: 30px;

    }
}

.task-prediction-wrapper {
    font-size: 17px;
    margin: 0 10px 20px;
    padding-top: 50px;
    border-top: 1px solid #8e8e8e;
    font-weight: bold;

    .scoreArea {
        font-size: 17px;

        .scoreLevel{
            font-size: 17px;
            margin: 15px;
            font-weight: bold;
        }
        .riskLevel{
            font-size: 17px;
            display: inline-block;
            margin: 5px;
            width: 115px;
            text-align: center;
            color: #ffffff;
            background-color: black;
            font-weight: bold;
        }
    }

}


.questionnaire-info{
    .score-wrap {
        margin-left: 35px;

        div.score-des {
            font-size: 15px;
        }

        div.score-num {
            text-transform : capitalize;
        }
    }
}

