@import '../taskResultPrint';

body {
    margin-bottom: 0;
}

.question-list {
    margin: 0 0 15px 20px;
}

.question {
    font-size: 14px;
    font-weight: 700;
    color: $result-main-color;
}

.answer-list {
    font-size: 14px;
    font-weight: 300;
}

.answer {
    position: relative;
    margin-top: 2px;

    .text {
        margin-left: 22px;
        font-size: 8pt;
    }
}

.result-circle-radio {
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    border: 1px solid gray;
    border-radius: 50%;
}

.result-circle-radio-checked {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $result-main-color;
}

.task-list-wrapper {
    margin-bottom: 20px;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.task-list-part {
    float: left;
    width: 50%;
    box-sizing: border-box;

    &.part-0 {
        padding-right: 15px;
        border-right: 1px solid #8e8e8e;
    }

    &.part-1 {
        padding-left: 15px;

    }
}

.task-prediction-wrapper {
    padding: 20px 20px 0;
    font-size: 12px;
    border-top: 1px solid #8e8e8e;
    font-weight: bold;

    .scoreArea {
        font-size: 12px;

        .scoreLevel {
            font-size: 12px;
            font-weight: bold;
        }
        .riskLevel {
            font-size: 12px;
            display: inline-block;
            margin: 5px;
            width: 100px;
            text-align: center;
            color: #ffffff;
            background-color: black;
            font-weight: bold;
        }
    }

}

#main {
    padding: 0 40px;
    width: 100%;
}

