.activity {
    .inner-search {
        min-width: 950px;
    }

    .table-group {
        min-width: 860px;

        .dataTable {
            min-width: 860px;
        }
    }

    .dataTable {
        thead {
            .nosort {
                background: none;
            }
        }
    }
}
