.maintenance {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 10px 20px;
    color: #333;
    text-align: left;

    .maintenance-content {
        margin-right: 15px;
    }

    .maintenance-attention {
        color: #f05b50;
    }

    .maintenance-btn-close {
        position: fixed;
        top: 10px;
        right: 20px;
        color: #333;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }
}
