.assist-form {
    .form-group {
        &.center {
            text-align: center;
        }

        input,
        textarea {
            width: 719px;
        }

        textarea {
            height: 200px;
            padding-top: 5px;
        }

        .input-group.title {
            margin-bottom: 15px;
        }
    }

    .lbl-input {
        display: block;
        min-width: 340px;
        color: $base-color-medium-black;
    }
}
