@import 'compass/support';
@import 'compass/layout';
@import 'compass/utilities';
@import 'compass/typography';
@import 'compass/reset';
@import 'compass/css3';

@font-face {
    font-family: 'Ionicons';
    src: url('../../../fonts/ionicons.eot');
    src: url('../../../fonts/ionicons.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/ionicons.ttf?') format('truetype'),
    url('../../../fonts/ionicons.woff') format('woff'),
    url('../../../fonts/ionicons.svg?#Ionicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    min-width: 320px;
    font: $base-font-utility;
    letter-spacing: .5px;

    ::selection {
        color: $base-color-white;
        background: $base-color-light-blue;
    }
}

h4,
h5 {
    color: $base-color-mid-grey;
}

p {
    color: $base-color-mid-grey;
}

.inline {
    display: inline-block;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

* {
    outline: none;
}

*:before,
*:after {
    @include box-sizing(border-box);
}

div {
    display: block;
    border: 0;
}

a {
    display: inline-block;
    color: $base-color-dark-grey;
    background: transparent;
    font: $base-font-utility;
    text-decoration: none;

    &.underline {
        text-decoration: underline;
    }
}

.btn,
.ui-button {
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    border: 1px $base-color-dark-grey solid;
    white-space: nowrap;
    background-color: $base-color-white;
    background-image: none;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;

    &:hover,
    &:focus {
        color: $base-color-white;
        background-color: $base-color-dark-grey;
    }

    &.primary {
        color: $base-color-dark-grey;

        &:hover,
        &:focus {
            color: $base-color-white;
            background-color: $base-color-dark-grey;
        }
    }

}

.ui-dialog {
    @include box-shadow($base-color-mid-grey 2px 2px 10px);
    background: $base-color-white;
}

.ui-hidden {
    display: none !important;
}

.content-left-top {
    background: $base-color-light-grey;
    background-color: darken($base-color-light-grey, 0%);

    .provider-name {
        color: $base-color-blue;
    }

    .btn-add {
        border: 1px solid $base-color-mid-grey;
        background-color: $base-color-white;
    }
}

.content-title {
    background-color: darken($base-color-light-grey, 0%);
    //    border-bottom: 2px solid $base-color-grey;
}

.border-color {
    border-bottom: 2px solid $base-color-light-grey;
}

.inner-head {
    background-color: darken($base-color-light-grey, 0%);

    .btn-invite {
        background-color: darken($base-color-white, 0%);
    }

    .btn-add-treatment {
        background-color: darken($base-color-white, 10%);
    }

    .p-status {
        color: $base-color-light-grey;
    }

    .btn-border {
        border: 1px solid $base-color-light-blue;
    }
}

.color {
    color: $base-color-light-blue;
}

.li-color {
    color: $base-color-mid-grey;
}

.accordion-li {
    border-bottom: 1px solid $base-color-light-grey;

    .triangle-right {
        border-left: 8px solid $base-color-mid-grey;
    }
}

.input-group {
    min-width: 250px;
}

.ui-button {
    border: 1px solid $base-color-dark-grey;

    .ui-button-text {
        color: $base-color-dark-grey;
    }

    &:hover {
        border: 0;
        background-color: darken($base-color-dark-grey, 10%);

        .ui-button-text {
            color: $base-color-white;
        }
    }
}

.ui-dialog-title {
    color: $base-color-dark-grey;
}

.window-warning-title {
    color: $base-color-mid-grey;
}

.window-warning {
    color: $base-color-mid-grey;
}

.treatment-id {
    color: $base-color-mid-grey;
}

.btn-action {
    border: 1px solid $base-color-light-blue;
    color: $base-color-mid-grey;
}

.inner-content {
    color: $base-color-mid-grey;
}

.actions-list {
    .div-position {
        border: 1px solid $base-color-light-blue;

        .btn-view {
            border-bottom: 1px solid $base-color-light-blue;
        }

        .btn-color {
            color: $base-color-mid-grey;
        }
    }

    &:before {
        border: solid 5px $base-color-mid-grey;
    }
}

.div-tool-list {
    background: $base-color-light-grey;

    .tool-color {
        color: $base-color-light-blue;

        .p-color {
            color: $base-color-mid-grey;
        }
    }
}

.clear {
    &:before {
        display: table;
        content: ' ';
    }

    &:after {
        display: table;
        clear: both;
        content: ' ';
    }
}

.msg-process-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: $base-color-light-grey;
    opacity: .3;

    .loading {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 999999;
        width: 40px;
        height: 40px;
        background: url('../../../images/loading.gif') no-repeat 0 0;
        background-size: cover;
        font-size: 40px;
    }
}

.select2-container {
    min-width: 220px;
}

.filler-content {
    display: inline-block;
    max-width: 280px;
    margin-top: 10px;

    label {
        width: 100%;
    }
}

.inner-header {
    height: 46px;
    padding: 22px;
    border-bottom: 6px solid $base-color-white-grey;

    .title {
        width: 80%;
        color: $base-color-dark-grey;
        font-size: 30px;
    }
}

.inner-search {

    .search-content {
        margin: 20px 40px;
        padding: 20px;
        background-color: $base-color-search;
    }

    input {
        min-width: 220px;
        height: 25px;
        margin-top: 5px;
        padding-left: 10px;
        border: 0;
    }
}

.table-group {
    margin: 40px;
}
