@import "compass/support";
@import "compass/layout";
@import "compass/utilities";
@import "compass/typography";
@import "compass/reset";

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-line-height: 1.4;
$base-font-utility: 14px "sans-serif";

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Colors
$base-color-lightGrey: #a9a9a9;

html, body {
  min-width: 320px;
  font: $base-font-utility;
  letter-spacing: .5px;
  ::selection {
    color: white;
    background: $base-color-lightGrey;
  }
}