.ui-combobox{
    .btn-close {
        position: absolute;
        top: 0;
        right: 2px;
        padding-top: 1px;
        color: #b3b3b3;
        font-size: 16px;
        vertical-align: middle;
        font-weight: 300;

        &:before {
            content: '\f404';
            color: #808080;
            font-weight: lighter;
            font-size: 18px;
            font-family: ionicons;
            vertical-align: middle;
        }
    }
}

.ui-combobox {
    .input-group:disabled {
        background-color: $base-color-white-grey-dark;
    }

    .ui-combobox-toggle.disable {
        background-color: $base-color-white-grey-dark;
        cursor: inherit;
    }
}

.ui-autocomplete.ui-widget-content {
    .rt-ui-state-active.ui-menu-item {
        color: $base-color-dark-grey;
        background-color: $base-color-white-grey;
        font-weight: normal;
    }
}

.form-group {
    .ui-combobox-input-icon {
        position: absolute;
        top: 0;
        left: 0;

        & + .complex-combobox {
            min-width: 211px;
            padding-left: 30px;
        }
    }
}

