.ui-datepicker {
    display: none;
    width: 17em;
    padding: .2em .2em 0;

    .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            margin-top: -8px;
            margin-left: -8px;
        }
    }

    .ui-datepicker-prev {
        left: 2px;
    }

    .ui-datepicker-next {
        right: 2px;
    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover {
        top: 1px;
    }

    .ui-datepicker-prev-hover {
        left: 1px;
    }

    .ui-datepicker-next-hover {
        right: 1px;
    }

    .ui-datepicker-prev-hover {
        left: 1px;
    }

    .ui-datepicker-next-hover {
        right: 1px;
    }

    .ui-datepicker-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        text-align: center;

        select {
            margin: 1px 0;
            font-size: 1em;
        }
    }

    select.ui-datepicker-month,
    select.ui-datepicker-year {
        width: 45%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 0 .4em;
        font-size: .9em;
    }

    th {
        padding: .7em .3em;
        border: 0;
        font-weight: bold;
        text-align: center;
    }

    td {
        padding: 1px;
        border: 0;

        span,
        a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
        }
    }

    .ui-datepicker-buttonpane {
        margin: .7em 0 0;
        padding: 0 .2em;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        background-image: none;
    }

    button {
        overflow: visible;
        float: right;
        width: auto;
        margin: .5em .2em .4em;
        padding: .2em .6em .3em;
        cursor: pointer;

        .ui-datepicker-current {
            float: left;
        }
    }

    .ui-datepicker-multi {
        width: auto;

        .ui-datepicker-group {
            float: left;

            table {
                width: 95%;
                margin: 0 auto .4em;
            }
        }
    }

}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

// RTL support
.ui-datepicker-rtl {
    direction: rtl;

    .ui-datepicker-prev {
        right: 2px;
        left: auto;

        &:hover {
            right: 1px;
            left: auto;
        }
    }

    .ui-datepicker-next {
        right: auto;
        left: 2px;

        &:hover {
            right: auto;
            left: 1px;
        }
    }

    .ui-datepicker-buttonpane {
        clear: right;

        button {
            float: left;
        }
    }
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker {

    .ui-datepicker-days-cell-over {

        .ui-state-default {
            background-color: #335d70;
            color: #fff;
        }
    }
}

