.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 36px;
    padding: 0;
    color: $base-color-white;
    background-color: $base-color-mid-grey;
    font-weight: 300;
    font-size: 12px;

    .content {
        margin-top: 5px;
    }

    .copyright-year {
        margin-top: 7px;
        margin-left: 10px;
        font-weight: 400;
    }

    .copyright {

        .logo {
            margin-top: 7px;
            margin-left: 7px;
        }

        .footer-logo {
            height: 14px;
            margin-top: 1px;
        }
    }

    ul {
        float: left;
        height: 30px;
        margin-left: 10px;

        li {
            float: left;
            height: 30px;
            margin: 0;
            padding: 0 10px 0 0;
            line-height: 30px;
            font-weight: 400;

            a {
                color: $base-color-white;
                font-weight: 300;
                font-size: 12px;
            }

            &:after {
                padding-left: 10px;
                content: '|';
            }

            &:last-child {

                &:after {
                    padding-left: 0;
                    content: '';
                }
            }
        }
    }

    .assist-me {
        display: inline-block;
        float: right;
        margin: 6px 30px 0 0;
        color: white;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }
    }
}
