.form-group {
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
    font-family: Lato;
    font-weight: 400;

    .lbl-group {
        display: table-row-group;
        color: $base-color-medium-black;
        font-family: Lato;
        font-weight: 400;
        font-size: 14px;

        span {
            margin-left: 3px;
            color: $base-color-dark-grey;
        }
    }

    .input-group {
        width: 30px;
        height: 25px;
        margin-top: 3px;
        padding-left: 6px;
        border: 1px solid $base-font-color;
        color: $base-color-medium-black;
        background-color: $base-mid-grey-color;
        font-size: 14px;
        font-family: "Lato";
        font-weight: 400;

        @include input-placeholder {
            color: $base-font-grey;
            opacity: .5;
            font-size: 14px;
        }
    }

    .input-only-one {
        width: 300px;
    }

    .group {
        margin-top: 5px;
        margin-left: -2px;
        text-align: left;

        span {
            display: inline-block;
            padding-left: 18px;
        }

        .checkbox {
            display: block;
            margin-top: 10px;
        }
    }

    .patient-group {
        width: 525px;
    }

    .team-group {
        width: 300px;
    }

    .ui-combobox {

        .input-group {
            min-width: 232px;
            height: 29px;
            color: $base-color-medium-black;
            font-family: Lato;
            font-weight: 400;
        }

        .input-group:disabled {
            background-color: $base-color-white-grey-dark;
        }

        .ui-combobox-toggle {
            margin-top: 3px;
            height: 29px;
            border: 1px solid $base-font-color;
            border-left: 0;
            background-color: $base-mid-grey-color;
        }

        .ui-combobox-toggle.disable {
            background-color: $base-color-white-grey-dark;
            cursor: inherit;
        }
    }

    .surgery-time {
        border: 1px solid $base-font-color;
        background-color: $base-mid-grey-color;
        background-image: url('../../../images/patients/calender.png');
        background-repeat: no-repeat;
        background-position: right center;
    }

    .surgery-time:disabled {
        background-color: $base-color-white-grey-dark;
    }

    .multi-select {
        width: 330px;
        height: auto;
        margin-top: 20px;
        border: 0;
    }

    .select2-container {
        width: 258px;
        height: 35px;
        margin-top: 0;
        padding-left: 0;

        .select2-choice {
            height: 31px;
            border: 1px solid $base-color-white-grey;
            background-color: $base-mid-grey-color;
            text-align: left;
        }
    }

    .select2-chosen {
        margin-top: 5px;
        margin-left: -5px;
        font-size: 14px;
    }

    .select2-container-multi {

        .select2-choice {
            height: 35px;
        }
    }

    .select2-search-field {
        input {
            height: 24px;
        }
    }

}

.form {

    h4 {
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 20px;
        color: $base-color-dark-grey;
    }
}

.container {
    .ui-autocomplete.ui-widget-content {
        z-index: 99999;
        max-width: 1000px;
        font-size: 13px;
        padding: 10px;
    }
}

.team-provider {
    margin-top: 30px;
}

.form-group.required {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: right;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
}

.required.required-width {
    width: 94%;
}

.form-provider {
    margin-top: 20px;
}

.error-container {
    position: relative;

    .error-help-block {
        position: absolute;
        font-size: 13px;
        color: $base-color-red;
    }
}


