.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;

    .lbl-group {
        display: table-row-group;
        color: $base-color-medium-black;
        font-weight: 500;
        font-size: 14px;

        span {
            margin-left: 3px;
            color: $base-color-dark-grey;
        }
    }

    .input-group {
        width: 30px;
        height: 25px;
        margin-top: 0;
        padding-left: 6px;
        border: 1px solid $base-color-white-grey;
        color: $base-color-medium-black;
        background-color: $base-mid-grey-color;
        font-size: 14px;
        font-family: inherit;

        @include input-placeholder {
            color: $base-font-grey;
            opacity: .5;
            font-size: 14px;
        }
    }

    .ui-combobox {

        .input-group {
            min-width: 232px;
            height: 29px;
            color: $base-color-medium-black;
            font-weight: normal;
        }

        .ui-combobox-toggle {
            height: 29px;
            border: 1px solid $base-color-white-grey;
            border-left: 0;
            background-color: $base-mid-grey-color;
        }
    }

    .surgery-time {
        border: 1px solid $base-color-white-grey;
        background-color: $base-mid-grey-color;
        background-image: url('../../../images/patients/calender.png');
        background-repeat: no-repeat;
        background-position: right center;
    }

    .multi-select {
        width: 330px;
        height: auto;
        margin-top: 20px;
        border: 0;
    }

    .select2-container {
        width: 258px;
        height: 35px;
        margin-top: 0;
        padding-left: 0;

        .select2-choice {
            height: 31px;
            border: 1px solid $base-color-white-grey;
            background-color: $base-mid-grey-color;
            text-align: left;
        }
    }

    .select2-chosen {
        margin-top: 5px;
        margin-left: -5px;
        font-size: 14px;
    }

    .select2-container-multi {

        .select2-choice {
            height: 35px;
        }
    }

    .select2-search-field {
        input {
            height: 24px;
        }
    }

}

.form {

    h4 {
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 20px;
        color: $base-color-dark-grey;
    }
}

.container {
    .ui-autocomplete.ui-widget-content {
        z-index: 99999;
        max-width: 254px;
    }
}

