.container {
    min-width: 480px;
    padding-top: 42px;
    padding-left: 220px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    font-weight: 600;
    font-size: 14px;
}

.border-bottom {
    border-bottom: 1px $base-color-light-blue solid;
}

//layout form
.site-wrapper {
    padding: 10% 3% 0;
}

.cover-container {
    max-width: 400px;
    margin: 0 auto;
}

.form {
    color: $base-color-dark-grey;

    .form-style-content {
        padding: 32px 26px;
        border-top: 6px solid $base-color-mid-grey;
        background-color: $form-color-background;
        font-weight: 500;
    }

    .input-combination {
        margin-bottom: 4px;
        padding: 2% 0;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;

        .input-control {
            width: 93%;
            height: auto;
            padding: 10px;
            font-size: 14px;
        }
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.error-area {
    height: 26px;
    padding: 6px;
    font-size: 10pt;
}

.error {
    color: $base-color-red;
}

