.container {
    min-width: 480px;
    padding-top: 42px;
    padding-left: 220px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

h5 {
    font-weight: 600;
    font-size: 14px;
}

.border-bottom {
    border-bottom: 1px $base-color-light-blue solid;
}




