.container {
    &.push-down {
        padding-top: 80px;
    }

    overflow: hidden;
    min-width: 480px;
    //    min-height: 835px;
    padding-top: 42px;
    padding-left: 220px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    font-weight: 700;
    font-size: 14px;
    font-family: Lato;
}

.border-bottom {
    border-bottom: 1px $base-color-light-blue solid;
}

//layout form
.site-wrapper {
    padding: 11% 3% 80px;
}

.cover-container {
    max-width: 426px;
    margin: 0 auto;
}

.cover-inner-header {
    width: 80%;
    height: 45px;
    margin: 0 auto;
    padding-bottom: 7.5%;
}

.form {
    color: $base-color-dark-grey;

    .form-style-content {
        padding: 32px 26px;
        border-top: 6px solid $base-color-mid-grey;
        background-color: $form-color-background;
        font-weight: 400;
        font-family: Lato;
    }

    .input-combination {
        margin-bottom: 6px;
        padding: 2% 0;
        font-weight: 400;
        font-size: 10pt;
        font-family: Lato;
        text-align: center;
        vertical-align: middle;

        .input-control {
            width: 93%;
            height: auto;
            margin: 3px 0;
            padding: 10px;
            font-size: 14px;
        }
    }
}

.image-ratchet-health {
    background: url('../../../images/login/ratchet_health_big.png') no-repeat -1px 0;
    background-size: 100%;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.error-area {
    height: 18px;
    font-size: 10pt;
}

.error {
    color: $base-color-red;
}

.required-field {
    font-size: 14px;
    text-align: right;
}

.required-padding {
    padding-right: 21px;
    font-weight: 400;
    font-family: Lato;
}

