.nav {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 99;
    width: 250px;
    height: auto;
    min-height: 910px;
    background-color: $base-color-white;
    border-right: 20px solid $base-color-white-grey;

    .list {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
}

.nav-li {
    position: relative;
    height: 50px;
    border-bottom: 1px solid $base-color-white-grey;

    a {
        width: 100%;
        height: 100%;
        color: $base-font-color;
    }

    .ui-icon {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
    }

    .home-title {
        margin-top: 17px;
    }

    .patient {
        margin-top: 18px;
        margin-left: 25px;
    }

    .account {
        margin-top: 19px;
        margin-left: 25px;
    }

    .icon-home {
        background: url('../../../images/patients/home.png') no-repeat 0 0;
        background-size: cover;
    }

    .icon-patient {
        background: url('../../../images/patients/patient.png') no-repeat 0 0;
        background-size: cover;
    }

    .icon-account {
        background: url('../../../images/patients/account.png') no-repeat 0 0;
        background-size: cover;
    }

    &:hover,
    &.active {
        a {
            color: $base-color-dark-grey;
        }

        .icon-home {
            background: url('../../../images/patients/home_hover.png') no-repeat 0 0;
            background-size: cover;
        }

        .icon-patient {
            background: url('../../../images/patients/patient_hover.png') no-repeat 0 0;
            background-size: cover;
        }
    }
}

.li-first-color {
    border-bottom: 6px solid $base-color-white-grey;
    padding: 20px;

    .div-calum {
        color: $base-color-dark-grey;
    }
}
