.nav {
    background-color: $base-color-light-grey;
    border-right: 1px solid $base-grey;
    height: auto;
    left: 0;
    min-height: 910px;
    position: fixed;
    top: 50px;
    width: 150px;
    z-index: 999;

    .list {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.nav-li {
    border-bottom: 1px solid $base-dark-blue-color;
    height: 50px;
    position: relative;

    a {
        color: $base-color-mid-grey;
        height: 100%;
        width: 100%;
    }

    .ui-icon {
        height: 20px;
        left: 15px;
        position: absolute;
        top: 15px;
        width: 20px;
    }

    .home-title {
        margin-top: 17px;
    }

    .patient {
        margin-left: 25px;
        margin-top: 18px;
    }

    .account {
        margin-left: 25px;
        margin-top: 19px;
    }

    .icon-home {
        background: url('../../../images/patients/home.png') no-repeat 0 0;
        background-size: cover;
    }

    .icon-patient {
        background: url('../../../images/patients/patient.png') no-repeat 0 0;
        background-size: cover;
    }

    .icon-account {
        background: url('../../../images/patients/account.png') no-repeat 0 0;
        background-size: cover;
    }

    &:hover,
        //    &:focus,
    &.active {
        a {
            color: $base-darker-blue-color;
        }

        .icon-home {
            background: url('../../../images/patients/home_hover.png') no-repeat 0 0;
            background-size: cover;
        }

        .icon-patient {
            background: url('../../../images/patients/patient_hover.png') no-repeat 0 0;
            background-size: cover;
        }
    }
}

.li-first-color {
    background: $base-dark-blue-color;

    .div-calum {
        color: $base-color-white;
        padding-top: 15px;
    }
}
