.graph {
    padding: 20px;
}

.patient-detail {
    position: relative;
    min-width: 1024px;
    padding: 15px 25px;
    color: $base-color-light-black;

    .info-container {
        font-weight: 300;
        font-family: Lato;
    }

    .first-line {
        color: $base-color-dark-grey;
        padding: 10px;
    }

    .number {
        font-weight: 400;
        font-size: 12pt;
        padding-left: 10px;
    }

    hr {
        border: 1px solid $base-color-white-grey;
    }

    .info {

        .icon {
            height: 45px;
            margin-left: 0;
            vertical-align: text-bottom;
        }

        .name {
            font-size: 18pt;
            font-weight: 400;
            font-family: Lato;
        }

        .first-name {
            font-size: 21px;
            vertical-align: middle;
            text-transform: uppercase;
        }

        .last-name {
            padding-right: 15px;
            font-size: 21px;
            vertical-align: middle;
            text-transform: uppercase;
        }
    }

    .logo {
        margin-top: 3px;
        vertical-align: top;
    }

    .btn-edit-patient {
        position: absolute;
        top: 28px;
        right: 30px;
        vertical-align: middle;

        &:before {
            display: inline-block;
            padding-left: 6px;
            content: '\f417';
            color: $base-font-color;
            font-weight: lighter;
            font-size: 26px;
            font-family: ionicons;
        }
    }

    .btn-close {
        position: absolute;
        top: 40px;
        right: 60px;
        color: #b3b3b3;
        font-size: 16px;
        vertical-align: middle;
        font-weight: 300;
        font-family: Lato;

        &:before {
            padding-right: 8px;
            padding-left: 30px;
            content: '\f404';
            color: $base-font-color;
            font-weight: lighter;
            font-size: 30px;
            font-family: ionicons;
            vertical-align: middle;
        }
    }

    .patient-email {
        padding-left: 50px;

        &:before {
            display: inline-block;
            padding-right: 8px;
            content: '\f422';
            vertical-align: middle;
            font-weight: lighter;
            font-size: 20px;
            font-family: ionicons;
        }
    }

    .phone {
        padding-left: 50px;

        &:before {
            display: inline-block;
            margin-top: -1px;
            padding-right: 5px;
            content: '\f4b8';
            vertical-align: middle;
            font-weight: lighter;
            font-size: 20px;
            font-family: ionicons;
        }
    }

    .div-invite {
        padding-left: 30px;
        vertical-align: top;
    }

    .btn-invite {
        padding: 5px 22px;
        font-size: 13px;
    }

    .invisible-invite {
        display: none;
    }

}

.overview-content {
    width: 100%;
    min-width: 600px;

    .outcome-graph {
        width: 70%;
        margin-top: 10px;

        .graph {
            min-height: 640px;
            margin-top: 10px;
            border-top: 1px solid $base-color-light-grey;
        }
    }

    .activity-task {
        width: 25%;
        margin-left: 20px;

        .activity {
            overflow-y: auto;
            width: 100%;
            height: 400px;
            margin-bottom: 10px;
            border-top: 1px solid $base-color-light-grey;
        }

        .task {
            width: 100%;
            height: 150px;
            border-top: 1px solid $base-color-light-grey;
        }
    }
}

.inner-content {
    margin-left: 10px;

    label {
        color: $base-color-light-grey;
    }

    .lbl-outcome {
        padding: 5px;
    }

    .right-header {
        position: relative;
        padding: 10px 5px;

        .icon-refresh {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 15px;
            height: 15px;
            background: url('../../../images/patients/refresh.png') no-repeat 0 0;
            background-size: cover;
        }
    }
}

.activity-content {
    @include border-radius(5px);
    margin-top: 20px;
    padding: 5px 20px 20px;
    border: 1px solid $base-color-light-grey;

    li {
        margin-top: 10px;
    }

    .li-content {
        @include border-radius(5px);
        padding: 0 5px;
        color: $base-color-white;
    }

    .title-task {
        width: 37px;
        background: $base-color-light-grey;
    }

    .title-reminder {
        width: 75px;
        background: $base-color-red;
    }

    .title-initiate {
        width: 62px;
        background: $base-color-yellow;
    }

    .li-last-update {
        font-size: x-small;
    }
}

.triangle {
    position: relative;
    top: 10px;
    margin-left: 10px;

    .triangle-icon {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-width: 5px 5px 0;
        border-style: solid;
    }

    .triangle-icon-down {
        top: 0;
        left: 0;
        border-color: $base-color-light-grey transparent transparent;
    }

    .triangle-icon-upper {
        top: -7px;
        left: -5px;
        border-color: $base-color-white transparent transparent;
    }
}

.right-header {
    &:hover {
        background: $base-color-mid-grey;

        label {
            color: $base-color-white;
        }

        .triangle-icon {
            border-color: $base-color-mid-grey transparent transparent;
        }
    }
}

.div-hidden {
    display: none;
}

.ui-datepicker {
    right: 10px;
    padding: 0;
    border: 2px solid $base-color-white-grey;
    border-top: 0;
    background-color: $base-color-white;
}

