@import './tooltipster';

.password-rules-tooltip {
    width: 250px;
    padding: 10px;

    .desc {
        margin-bottom: 15px;
        font-size: 15px;
    }

    .rule {
        margin: 5px 0;
        font-size: 14px;
        color: #b3b3b3;
        strong {
            font-weight: 700;
        }

        &.pass {
            color: #77b570;
        }

        i {
            margin-right: 5px;
        }
    }
}
