.select-group {
    margin-top: 20px;

    label {
        display: block;
        margin-left: 30px;
        text-align: left;
    }

    select {
        width: 85%;
    }
}

.select2-drop-active {
    border: 1px solid #325d70;
    border-top: 0;
}
