//todo this will be change later
.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;

    a.ui-spinner-button {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
    }

    .ui-icon {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -8px;
    }

    .ui-icon-triangle-1-s {
        // need to fix icons sprite
        background-position: -65px -16px;
    }
}

.ui-spinner-input {
    margin: .2em 0;
    margin-right: 22px;
    margin-left: .4em;
    padding: 0;
    border: 0;
    color: inherit;
    background: none;
    vertical-align: middle;
}

.ui-spinner-button {
    position: absolute;
    right: 0;
    display: block;
    overflow: hidden;
    width: 16px;
    height: 50%;
    margin: 0;
    padding: 0;
    font-size: .5em;
    text-align: center;
    cursor: default;
}

// more specificity required here to override default borders
//.ui-spinner a.ui-spinner-button {
//    border-top: 0;
//    border-bottom: 0;
//    border-right: 0;
//}

// vertically center icon
//.ui-spinner .ui-icon {
//    position: absolute;
//    margin-top: -8px;
//    top: 50%;
//    left: 0;
//}

.ui-spinner-up {
    top: 0;
}

.ui-spinner-down {
    bottom: 0;
}

// TR overrides
//.ui-spinner .ui-icon-triangle-1-s {
//    /* need to fix icons sprite */
//    background-position: -65px -16px;
//}
