.ui-tabs {
    position: relative;

    .ui-tabs-nav {
        margin: 0;

        li {
            border-bottom-width: 0;
            float: left;
            list-style: none;
            position: relative;
            top: 0;
            white-space: nowrap;
        }

        .ui-tabs-active {
            margin-bottom: -1px;
            padding-bottom: 1px;
        }

        .ui-tabs-anchor {
            float: left;
            padding: 0 10px;
            text-decoration: none;
        }
    }

    .ui-tabs-panel {
        background: none;
        border-width: 0;
        display: block;
    }
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.tab-treatment {
    .ui-corner-top {
        .ui-tabs-anchor {
            background: $base-dark-grey-color;
            color: $base-color-medium-grey;
            padding: .5em 1em;
        }
    }
}

.tab-treatment {
    border-top: 1px solid $base-light-grey-color;
    padding: 0;

    .ui-state-active {
        .ui-tabs-anchor {
            background: $base-color-black;
            color: $base-color-white;
            padding: .5em 1em;
        }
    }
}

.tab-list {
    background: $base-color-black;
    padding: 0;

    li {
        padding-bottom: 10px;
        padding-top: 10px;

        a {
            border-right: 1px solid $btn-color-primary;
            color: $base-color-green;
            padding: 0 10px;
        }
    }
}

.tab-list {
    .ui-state-active {
        a {
            color: $base-color-yellow;
        }
    }
}
