.dataTable {
    width: 100%;
    min-width: 980px;

    thead {

        .sorting {
            background: url('../../../images/dataTable/sort_both.png') no-repeat center right;
        }

        .sorting_asc {
            background: url('../../../images/dataTable/sort_both.png') no-repeat center right;
        }

        .sorting_desc {
            background: url('../../../images/dataTable/sort_both.png') no-repeat center right;
        }

    }

    th {
        width: 23%;
        color: $base-color-dark-grey;
        font-weight: $bold;
    }

    tr {
        height: 40px;
        color: $base-color-medium-black;

        .btn-edit {

            &:before {
                content: '\f12c';
                color: $base-color-medium-black;
                font-weight: lighter;
                font-size: 22px;
                font-family: ionicons;
            }
        }

        .btn-remove-team {

            &:after {
                margin-left: 10px;
                content: '\f252';
                color: $base-color-medium-black;
                font-weight: lighter;
                font-size: 22px;
                font-family: ionicons;
            }
        }

        .tr-label {
            color: $base-color-dark-grey;
        }

        &:hover {
            color: $base-color-dark-grey;
            background-color: $base-color-white-grey;

            a {
                color: $base-color-dark-grey;
            }

        }
    }

    td,
    th {
        padding-right: 20px;
        padding-left: 20px;
        border: 1px solid $base-color-grey;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            padding-right: 20px;
            border-right: 0;
        }
    }

}

.dataTables_wrapper {

    .dataTables_filter {
        padding: 40px;
    }

    .dataTables_paginate {
        margin-top: 30px;
        padding-top: .25em;
        border: 1px solid transparent;
        background: transparent;
        text-align: right;
        box-shadow: none;
        cursor: default;

        .disabled {
            color: $base-color-white !important;
            background-color: $base-color-grey !important;

            &:hover,
            &:focus {
                border: 1px $base-color-grey solid !important;
                color: $base-color-white !important;
                background-color: $base-color-grey !important;
                cursor: inherit;
            }
        }

        .previous {
            font-family: 'Ionicons';
            display: inline-block;
            padding: 6px 12px !important;

            &:before {
                display: inline-block;
                content: '\f3d2';
            }
        }

        .next {

            font-family: 'Ionicons';
            display: inline-block;
            padding: 6px 12px !important;

            &:before {
                display: inline-block;
                content: '\f3d3';
            }
        }

        .paginate_button {
            display: inline-block;
            box-sizing: border-box;
            min-width: 1.5em;
            margin: 0 5px;
            padding: 4px 10px;
            border: 1px $base-color-grey solid;
            white-space: nowrap;
            color: $base-color-grey;
            background-image: none;
            font-weight: normal;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;

            &.current,
            &:hover,
            &:focus {
                border: 1px $base-color-mid-grey solid;
                color: $base-color-white;
                background-color: $base-color-mid-grey;
            }
        }

        span {

            span {
                font-size: 20px;
                color: $base-color-grey;
            }
        }
    }
}


