
.ui-tabs {
    position: relative; // position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed")
    padding: .2em;

    .ui-tabs-nav {
        margin: 0;
        padding: .2em .2em 0;

        li {
            position: relative;
            top: 0;
            float: left;
            margin: 1px .2em 0 0;
            padding: 0;
            border-bottom-width: 0;
            white-space: nowrap;
            list-style: none;
        }

        .ui-tabs-anchor {
            float: left;
            padding: .5em 1em;
            text-decoration: none;
        }
    }

    .ui-tabs-panel {
        display: block;
        padding: 1em 1.4em;
        border-width: 0;
        background: none;
    }
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.ui-tabs-vertical {

    .ui-tabs-nav {
        padding: .2em .1em .2em .2em;
        float: left;
        width: 220px;

        li {
            clear: left;
            width: 100%;
            border-bottom-width: 1px !important;
            border-right-width: 0 !important;
            margin: 0 -1px .2em 0;

            a {
                display: block;
            }

            &.ui-tabs-active {
                padding-bottom: 0;
                padding-right: .1em;
                border-right-width: 1px;
            }
        }

    }

    .ui-tabs-panel {
        padding: 1em;
        float: left;
        width: calc(100% - 220px);
    }
}

