.dataTable {
    width: 100%;

    thead {

        tr {
            border-bottom: 3px solid $border-color-primary;
            background-color: $base-color-lighter-grey;
        }

        .sorting {
            background: url('../../../images/dataTable/sort_both.png') no-repeat center right;
        }

        .sorting_asc {
            background: url('../../../images/dataTable/sort_asc.png') no-repeat center right;
        }

        .sorting_desc {
            background: url('../../../images/dataTable/sort_desc.png') no-repeat center right;
        }

    }

    th {
        width: 23%;
        color: $base-color-mid-grey;
        font-weight: $bold;

        &:first-child {
            width: 8%;
        }
    }

    tr {
        height: 40px;
        border-bottom: 1px solid $border-color-primary;
        color: $base-color-middle-grey;

        a {
            text-decoration: underline;
        }

        .tr-label {
            color: $base-color-mid-blue;
        }
    }

}

.dataTables_wrapper {

    .dataTables_paginate {
        float: right;
        padding-top: .25em;
        border: 1px solid transparent;
        color: $base-color-middle-grey;
        background: transparent;
        text-align: right;
        box-shadow: none;
        cursor: default;

        .paginate_button {
            display: inline-block;
            box-sizing: border-box;
            min-width: 1.5em;
            margin-left: 2px;
            padding: .5em 1em;
            border: 1px solid transparent;
            color: $base-color-middle-grey;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
        }
    }
}


