.dataTable {
    width: 100%;

    thead {

        .sorting {
            background: url('../../../images/dataTable/sort_both.png') no-repeat center right;
        }

        .sorting_asc {
            background: url('../../../images/dataTable/sort_both.png') no-repeat center right;
        }

        .sorting_desc {
            background: url('../../../images/dataTable/sort_both.png') no-repeat center right;
        }

    }

    th {
        width: 23%;
        color: $base-color-dark-grey;
        font-weight: $bold;
    }

    tr {
        height: 40px;
        color: $base-font-color;

        .bottom-content {
            position: relative;
            text-align: center;

            .icon-remove {
                position: absolute;
                top: -5px;
                right: 10px;
                width: 20px;
                height: 20px;
                background: url('../../../images/dustbin.png') no-repeat 0 0;
                background-size: cover;
            }

            .icon-edit {
                position: absolute;
                top: -5px;
                right: 35px;
                width: 20px;
                height: 20px;
                background: url('../../../images/edit.png') no-repeat 0 0;
                background-size: cover;
            }
        }

        .tr-label {
            color: $base-color-dark-grey;
        }

        &:hover {
            background-color: $base-color-white-grey;
            color: $base-color-dark-grey;

            a {
                color: $base-color-dark-grey;
            }

        }
    }

    td,
    th {
        padding-left: 20px;
        border: 1px solid $base-color-white-grey;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            padding-right: 20px;
            border-right: 0;
        }
    }

}

.dataTables_wrapper {

    .dataTables_filter {
        padding: 40px;
    }

    .dataTables_paginate {
        margin-top: 30px;
        padding-top: .25em;
        border: 1px solid transparent;
        color: $base-color-light-blue;
        background: transparent;
        box-shadow: none;
        cursor: default;
        text-align: right;

        .paginate_button {
            display: inline-block;
            box-sizing: border-box;
            min-width: 1.5em;
            margin: 0 5px;
            padding: 6px 12px;
            border: 1px $base-color-dark-grey solid;
            white-space: nowrap;
            background-color: $base-color-white;
            background-image: none;
            font-weight: normal;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;

            &.current,
            &:hover,
            &:focus {
                color: $base-color-white;
                background-color: $base-color-dark-grey;
            }
        }

        span {

            span {
                color: $base-color-dark-grey;
                font-size: 40px;
            }
        }
    }
}


