.display-flex {
    display: flex;
}

.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.visible-hidden {
    visibility: hidden;
}

.tasks-list {
    padding: 30px;
}

.items-title {
    padding: 12px 40px;
    border-bottom: 3px solid $base-color-white-grey;

    h4 {
        color: $base-color-dark-gray;
    }
}

.list-bottom {
    border-bottom: 20px solid $base-color-white-grey;
}

.no-item {
    padding: 3% 0;
}

// box item for task
.box-item {
    display: inline-block;
    width: 314px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 3px $base-color-mid-grey solid;

    h5 {
        color: $base-color-light-black;
    }

    .small-font {
        font-size: 11pt;
    }

    .middle-font {
        font-size: 12pt;
    }

    // change background and color according to status
    &.pending {
        border: 3px $base-color-green solid;

        .box-item-header {
            background-color: $base-color-green;

            &:before {
                content: 'PENDING';
                font-size: 10pt;
            }
        }
    }

    &.overdue {
        border: 3px $base-color-task-overdue solid;

        .box-item-header {
            background-color: $base-color-task-overdue;

            &:before {
                content: 'OVERDUE';
                font-size: 10pt;
            }
        }
    }

    &.complete {
        border: 3px $base-color-task-complete solid;

        .box-item-header {
            background-color: $base-color-task-complete;

            &:before {
                content: 'COMPLETE';
                font-size: 10pt;
            }
        }
    }

}

.box-item-header {
    height: 20px;
    padding-bottom: 7px;
    background: $base-color-mid-grey;

    &:before {
        display: inline-block;
        padding-left: 8px;
        content: '\f3c7';
        color: $base-color-white;
        font-weight: lighter;
        font-size: 22px;
        font-family: ionicons;
    }

    .complete-time {
        padding: 5px 2px;
        color: $base-color-medium-black;
        font-weight: 600;
        font-size: 10px;
    }

}

.box-item-content {
    padding: 18px;

    .item-fist {
        height: 20px;
        color: $base-font-color-dark;
    }

    .item-title {
        height: 50px;
        padding-top: 4px;
        font-weight: 500;
        font-size: 14pt;
    }

    .score {
        padding-right: 16px;
        color: $base-color-medium-black;
        font-size: 12pt;


        &:before {
            display: inline-block;
            content: '\f42d';
            font-weight: lighter;
            font-size: 22px;
            font-family: ionicons;
            vertical-align: top;
        }
    }

    .numeral {
        color: $base-color-blue;
    }

    .status-background {
        padding: 2px 4px;
        color: $base-color-white;
    }

    .item-datetime {
        height: 28px;
        padding: 10px 0;
        color: $base-color-medium-black;
        font-weight: 500;
    }

    .item-notify {
        padding-bottom: 3px;
        font-size: 12pt;
    }

    button {
        padding: 5px 8px;

        &:hover,
        &:focus {
            padding: 5px 8px;
        }
    }

    .item-context {
        height: 72px;
        font-size: 14px;

        p {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            color: $base-font-grey-dark;
        }
    }

}

// all change in the form box
.form-box {
    display: inline-block;
    width: 300px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid;

    .box-header {
        width: 100%;
        height: 54px;
        background-color: $base-color-dark-grey;

        .header-left {
            float: left;
            width: 25%;
            height: 100%;
            color: $base-color-white;
            text-align: center;
        }

        .header-middle {
            float: left;
            width: 60%;
            height: 100%;
            padding-left: 4px;
        }

        .header-right {
            float: right;
        }

    }

    .box-content {
        padding: 12px 10px;
    }

}

// for task form
.task-form {

    .divider {
        margin-bottom: 0;
    }

    .label-notify {
        padding-right: 40px;
    }

    .radio-box {
        margin: 6px 0;
        color: $base-color-dark-grey;
    }

    .label-height {
        display: block;
        height: 25px;
    }
}

.task-content-up {
    padding: 20px;
    padding-bottom: 40px;
    background-color: $base-color-light-grey;
}

.bg-color-change {
    background-color: $base-color-mid-grey;

    &.sdm {
        background-color: $base-color-yellow;
    }

    &.basic {
        background-color: $base-color-green;
    }

    &.outcome {
        background-color: $base-color-blue;
    }

}

.border-color-change {
    border-color: $base-color-mid-grey;

    &.sdm {
        border-color: $base-color-yellow;
    }

    &.basic {
        border-color: $base-color-green;
    }

    &.outcome {
        border-color: $base-color-blue;
    }
}

.color-change {
    color: $base-color-mid-grey;

    &.active-color {
        color: $base-color-blue;
    }
}

.form-content {
    padding: 10px 20px;
}

.ui-tabs-panel {
    .btn-task {
        padding: 10px 27px 2px 2px;
        border: 0;
        color: $base-color-light-blue;
        text-decoration: underline;

        &:focus {
            color: #59b7c4;
            background-color: $base-color-white;
        }

        &:hover {
            color: #59b7c4;
            background-color: $base-color-white;
        }
    }
}


