.ui-widget {
    font-size: 1.1em;
    font-family: $base-font-utility;

    input,
    select,
    textarea,
    button {
        font-size: 1em;
        font-family: $base-font-utility;
    }
}

input[type="text"], input[type="textarea"], input[type="email"], input[type="tel"]{
    font-family: inherit;
}

.ui-widget-content {
    padding: 0;
    border: 15px solid rgba(0, 0, 0, .2);
    color: $base-color-dark-grey;
    background: transparent;
    box-shadow: none;

    a {
        color: $base-color-dark-grey;
    }
}

.ui-widget-header {
    border: 1px solid $base-color-dark-grey;
    color: $base-color-dark-grey;
    font-weight: bold;

    a {
        color: $base-color-dark-grey;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    color: $base-font-color;
    font-weight: bold;
}

.ui-state-default {
    a {
        &:link,
        &visited {
            color: #1c94c4;
            text-decoration: none;
        }
    }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    color: $base-font-color;
    background: transparent 50% 50% repeat-x;
    font-weight: bold;
}

.ui-state-hover,
.ui-state-focus {

    a {
        &:hover,
        &link,
        &visited {
            color: $base-color-dark-grey;
            text-decoration: none;
        }
    }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    color: $base-color-dark-grey;
//    background: $base-color-white 50% 50% repeat-x;
    font-weight: bold;
}

.ui-state-active {

    a {
        &:link,
        &visited {
            color: $base-color-dark-grey;
            text-decoration: none;
        }
    }
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid $base-font-color;
    color: $base-color-white;
    background: $base-color-dark-grey 50% top repeat-x;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: $base-color-dark-grey;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    color: $base-color-white;
    background: $base-color-error 50% 50% repeat;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: $base-color-white;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: $base-color-white;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    filter: Alpha(Opacity=70);
    opacity: .7;
    font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    background-image: none;
    filter: Alpha(Opacity=35);
    opacity: .35;
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35);
}
