.ui-datepicker {
    padding: 0;
    border: 1px solid $base-color-dark-grey;
    background: $base-color-white;

    .ui-datepicker-header {
        border: 0;
        background: $base-color-grey-white;

        .ui-datepicker-month {
            color: $base-color-dark-grey;
            font-weight: 400;
        }

        .ui-datepicker-year {
            color: $base-color-dark-grey;
            font-weight: 400;
        }

    }

    table {
        thead {
            border-top: 1px solid $base-color-mid-grey;
            border-bottom: 1px solid $base-color-mid-grey;
            color: $base-color-dark-grey;
            background: $base-color-grey-white;
            //            font-weight: 500;
            th {
                font-weight: 400;
            }
        }
    }

    tbody {
        tr {
            color: $base-color-blue-light;

        }
    }

    td {
        padding: 6px;
    }

    .ui-datepicker-buttonpane {
        height: 39px;
        margin: 0;
        border-top: 1px solid $base-color-mid-grey;
        background: $base-color-grey-white;

        button {
            display: block;
            float: none;
            width: 100%;
            border: 0;
            color: $base-color-dark-grey;
            background: none;
        }
    }

    .ui-datepicker-prev {
        top: 10px;
        left: 10px;
        font-family: 'Ionicons';
        cursor: pointer;

        &:before {
            content: '\f124';
        }
    }

    .ui-datepicker-next {
        top: 10px;
        right: 10px;
        font-family: 'Ionicons';
        cursor: pointer;

        &:before {
            content: '\f125';
        }
    }
}

.ui-dot {
    position: absolute;
    top: 30px;
    left: 68px;
    z-index: 999;
    color: $base-color-dark-grey;
    font-size: 20px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: 400;
}
