.ui-tpicker-time {
    display: none;
}

.ui-timepicker-div {
    height: 80px;
    padding: 5px;

    .ui-widget-header {
        margin-bottom: 8px;
    }

    dl {
        text-align: left;

        dt {
            display: none;
            float: left;
            clear: left;
            padding: 0 0 0 5px;
        }

        dd {
            float: left;
            width: 30%;
        }
    }

    td {
        font-size: 90%;
    }
}

.ui-tpicker-grid-label {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.ui-timepicker-rtl {
    direction: rtl;

    dl {
        padding: 0 5px 0 0;
        text-align: right;

        dt {
            float: right;
            clear: right;
        }

        dd {
            margin: 0 45% 10px 10px;
        }
    }
}

.ui_tpicker_hour_slider,
.ui_tpicker_minute_slider {
    position: relative;
    height: 80px;

    .ui-spinner {
        position: relative;
        width: 100%;
        height: 80px;

        .ui-spinner-button {
            border: 0;
            font-size: 15px;
        }
    }

    .ui-spinner-up {
        position: absolute;
        top: 0;
        left: 15px;
        width: 10px;
        height: 10px;
        margin: 0;
        font-family: 'Ionicons';

        &:before {
            content: '\f126';
        }
    }

    .ui-spinner-down {
        position: absolute;
        top: 55px;
        left: 15px;
        width: 10px;
        height: 10px;
        margin: 0;
        font-family: 'Ionicons';

        &:before {
            content: '\f123';
        }
    }

    .ui-widget-content {
        border: 0;
    }

    .ui-timepicker-input {
        position: absolute;
        top: 25px;
        left: 12px;
        width: 25px;
        color: $base-color-dark-grey;
        font-weight: bold;
        font-size: 22px;
        text-align: center;
    }
}

.ui-tpicker-am {
    width: 60px;
    height: 80px;

    .ui-tpicker-am-content {
        width: 30px;
        margin: auto;
        margin-top: 25px;
        padding: 5px;
        color: $base-color-white;
        background-color: $base-color-dark-grey;
        text-align: center;
    }
}

.ui-datepicker {
    padding: 0;
    border: 1px solid $base-color-dark-grey;

    table {
        margin: 0 0 .2em;
        border-bottom: 1px solid $base-color-light-blue;

        thead {
            border-top: 1px solid $base-color-mid-grey;
            border-bottom: 1px solid $base-color-mid-grey;
            color: $base-color-light-blue;
            background: $base-color-dark-grey 50% 50% repeat-x;
        }
    }

    td {
        padding: 6px;
    }

    .ui-datepicker-buttonpane {
        display: none;
        margin: 0;
    }

    .ui-datepicker-prev {
        top: 10px;
        left: 10px;
        font-family: 'Ionicons';
        cursor: pointer;

        &:before {
            content: '\f124';
        }
    }

    .ui-datepicker-next {
        top: 10px;
        right: 10px;
        font-family: 'Ionicons';
        cursor: pointer;

        &:before {
            content: '\f125';
        }
    }
}

.ui-dot {
    position: absolute;
    top: 30px;
    left: 68px;
    z-index: 999;
    color: $base-color-dark-grey;
    font-size: 20px;
}

