body .ui-tooltip {
    @include box-shadow($base-color-error-border 0 0 5px);
    background: $base-color-error;
    border: 0;
    border-radius: 4px;
    color: $base-color-white;
    max-width: 300px;
    opacity: 1;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

.ui-tooltip-content {
    padding: 6px 10px;
    position: relative;

    &:after {
        border-style: solid;
        content: '';
        display: block;
        position: absolute;
        width: 0;
    }
}

.error-msg-right {
    .ui-tooltip-content {
        &:after {
            border-color: transparent $base-color-error;
            border-width: 10px 10px 10px 0;
            left: -10px;
            top: 5px;
        }
    }
}

.error-msg-left {
    .ui-tooltip-content {
        &:after {
            border-color: transparent $base-color-error;
            border-width: 10px 0 10px 10px;
            right: -10px;
            top: 5px;
        }
    }
}

.error-msg-top {
    .ui-tooltip-content {
        &:after {
            border-color: $base-color-error transparent;
            border-width: 10px 10px 0;
            bottom: -10px;
            left: 45%;
        }
    }
}

.error-msg-bottom {
    .ui-tooltip-content {
        &:after {
            border-color: $base-color-error transparent;
            border-width: 0 10px 10px;
            left: 72px;
            top: -10px;
        }
    }
}
