@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-light: normal 300 14px 'Lato', sans-serif;
$base-font-utility: normal 400 14px 'Lato', sans-serif;
$base-font-bold: normal 700 14px 'Lato', sans-serif;
$base-font-family: 'Lato', sans-serif;

// Headings
$header-font-weight: $bold;

// Base Colors
$base-color-grey-white: #f2f2f2;
$base-color-archived-bg: #f4f4f4;
$base-color-white: #fff;
$base-color-grey: #ccc;
$base-color-search: #f9f9f9;
$base-color-bg-head: #fdfdfd;
$base-color-white-grey: #e6e8e8;
$base-color-white-grey-dark: #e6e6e6;
$base-font-color: #b3b3b3;
$base-font-color-dark: #aba8ab;
$base-font-grey: #808080;
$base-font-grey-dark: #666;
$base-color-mid-gray: #555;
$base-color-dark-gray: #4d4d4d;
$base-color-grey-link: #707070;
$base-grey-color: #aaa;
$base-dark-grey: #4d4d4d;
$base-mid-grey-color: #fbfbfb;
$base-a-default-color: #738994;
$base-color-green-link: #345d70;
$base-light-grey-color: #999;
$base-grey-dark-color: #748993;
$base-logo-color: #335d70;

$base-color-medium-black: #333;
$base-color-black: #000;
$base-color-light-black: #1a1a1a;

$base-color-blue: #355c6f;
$base-color-blue-light: #a6a8ab;
$base-color-blue-dark: #00f;

$base-color-light-grey: #d6e7db;
$base-color-light-blue: #accfd9;
$base-color-mid-grey: #6e8992;
$base-color-dark-grey: #225f6f;
$base-color-darker-grey: #808080;
$base-color-grey-expired: #c7d1d5;

$base-color-error: #d9534f;
$base-color-boder: #bbc2c1;
$base-color-error-border: #d43f3a;
$base-color-alert: #EC2A30;

// Other Colors
$base-color-orange: #ff9537;
$base-color-yellow: #fdc15b;
$base-color-attention-yellow: #fed00f;
$base-color-red: #ef5c55;
$base-color-light-red: #f69da3;
$base-color-pink: #fef3f3;
$base-color-dark-red: #d01203;
$base-color-green: #6eb56f;
$base-color-blue: #28c2d2;
$base-color-red: #f05a4f;
$chart-color-background: #758994;
$form-color-background: #e1e6e9;
$base-color-warn: #355d6f;
$base-color-tab-bg: #eaedef;
$base-color-tab-default: #c9d2d6;
$base-color-task-complete: #c7d2d6;
$base-color-task-overdue: #ff6972;
$base-color-msg-info: #288fa4;
$base-color-invited: #fdc165;
$base-color-deactive: #7db46a;
$base-color-tab-font-hover: #023444;
//$base-color-active: #999;

$base-color-optimize: #288fa4;
//$base-color-white: #fdfdfd;

$base-surgery-date-bgcolor: #335d70;
$base-surgery-date-color: #e6e6e6;

$base-color-complete: #7ab466;
$base-color-overdue: #f27171;
$base-color-pending: #f39c12;
$base-color-decline: #3d3d3d;


$base-archive-icon-highlight: #335d70;

$gray-light: #777;
$gray-lighter: #eee;
