// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-utility: 14px 'sans-serif';

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;

// Headings
$header-font-weight: $bold;

// Colors
$base-color-white: #fff;

$base-color-grey: #e6e6e6;
$base-color-light-grey: #f2f2f2;
$base-color-lighter-grey: #f3f3f3;
$base-color-mid-grey: #808080;
$base-color-medium-grey: #b3b3b3;
$base-color-middle-grey: #999;
$base-color-dark-grey: #333;
$base-color-darker-grey: #CCCCCC;

$base-color-light-blue: #7fc7d1;
$base-color-lighter-blue: #75b0b6;
$base-color-mid-blue: #47b1c1;
$base-color-mider-blue: #5099A8;
$base-color-medium-blue: #47b1c1;
$base-color-dark-blue: #176f88;
$base-color-darker-blue: #08567f;
$base-color-blue: #176f88;
$base-blue-color: #34C2D1;
$base-bluer-color: #7BB3B9;
$base-color-bluer: #72b0b5;

$btn-color-green: #B1C66B;

$btn-color-primary: #ccc;
$border-color-primary: #ddd;

$base-color-error: #d9534f;
$base-color-error-border: #d43f3a;

