@import '../taskResult';

body {
    margin-bottom: 0;
}

.question-list {
    margin: 0 0 30px 56px;
}

.question {
    margin-left: -35px;
    font-size: 18px;
    font-weight: 700;
    color: $result-main-color;
}

.answer {
    position: relative;
    margin-top: 10px;

    .text {
        font-size: 16px;
    }
}

.result-circle-radio {
    position: absolute;
    top: 0;
    left: -35px;
    display: inline-block;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
}

.result-circle-radio-checked {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $result-main-color;
}

.container {
    overflow-y: hidden;
    overflow-x: visible;
}

.task-list-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.task-list-part {
    float: left;
    width: 50%;
    box-sizing: border-box;

    &.part-0 {
        padding-right: 30px;
    }

    &.part-1 {
        padding-left: 30px;
        border-left: 1px solid #8e8e8e;
    }
}

.download {
    display: inline-block;
    position: absolute;
    top: -40px;
    right: 0;
    a {
        color: #7b8994;
    }
}

//special
#main {
    padding: 0;
}

.page {
    padding: 30px 30px 12px;
    &.page-1 {
        border-top: 20px solid #e6e8e8;
    }
}

.section-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0;
}

.score-wrap {
    display: inline-block;
    padding: 0 6px;
}

