@import '../taskResult';

@font-face {
    font-family: 'Ionicons';
    src: url('../../../../../fonts/ionicons.eot');
    src: url('../../../../../fonts/ionicons.eot?#iefix') format('embedded-opentype'),
    url('../../../../../fonts/ionicons.ttf?') format('truetype'),
    url('../../../../../fonts/ionicons.woff') format('woff'),
    url('../../../../../fonts/ionicons.svg?#Ionicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin-bottom: 0;
}

.question-list {
    margin: 0 0 30px 35px;
}

.question {
    margin-left: -35px;
    font-size: 18px;
    font-weight: 700;
    color: $result-main-color;
}

.answer {
    position: relative;
    margin-top: 10px;

    .text {
        font-size: 16px;
        word-wrap: break-word;
    }

    .underline-text {
        padding: 0 8px;
        text-decoration: underline;
        word-break: break-all;
    }
}

.result-circle-radio {
    position: absolute;
    top: 0;
    left: -35px;
    display: inline-block;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
}

.result-circle-radio-checked {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $result-main-color;
}

.task-list-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.task-list-part {
    float: left;
    width: 50%;
    box-sizing: border-box;

    &.part-0 {
        padding-right: 30px;
        border-right: 1px solid #8e8e8e;
    }

    &.part-1 {
        padding-left: 30px;
    }
}

.download {
    display: inline-block;
    position: absolute;
    top: -40px;
    right: 0;
    a {
        color: #7b8994;
    }
}

//special
.special-question-list {
    margin-bottom: 0;
}

.upper-part {
    padding-bottom: 18px;
    border-bottom: 1px solid $base-font-grey;
}

.lower-part {
    padding-top: 20px;
}

.small-part {
    float: left;
    width: 25%;
    box-sizing: border-box;

    .answer-list {
        margin-top: 10px;
    }
}

.sub-question {
    margin-left: -35px;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
}

.answer-line {
    font-size: 16px;
    font-weight: 700;

    .left-checkbox {
        float: left;
        margin-right: 16px;
    }
}

