@import '../taskResult';

body {
    margin-bottom: 0;
}

.question-list {
    margin-bottom: 30px;
}

.question {
    font-size: 18px;
    font-weight: 700;
    color: $result-main-color;
}

.answer {
    position: relative;
    margin-top: 10px;

    .text {
        font-size: 16px;
        margin-left: 35px;
        word-wrap: break-word;
    }

    .underline-text {
        padding: 0 8px;
        text-decoration: underline;
        word-break: break-all;
    }
}

.result-circle-radio {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
}

.rc-checkbox {
    cursor: default;
    top: -2px;
}

.result-circle-radio-checked {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $result-main-color;
}

.rc-checkbox {
    width: 20px;
    height: 20px;
}

.result-checkbox {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    border: 1px solid $base-font-color;
    cursor: default;
}

.result-checkbox-checked {
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: $result-main-color;
    box-shadow: inset 0 0 0 1px $base-color-white;
}

.result-checkbox-checked:before {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 4px;
    content: '\f383';
    font-family: 'Ionicons';
    font-size: 14px;
    color: $base-color-white;
    text-align: center;
}


.task-list-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.task-list-part {
    float: left;
    width: 50%;
    box-sizing: border-box;

    &.part-0 {
        padding-right: 30px;
        border-right: 1px solid #8e8e8e;
    }

    &.part-1 {
        padding-left: 30px;
    }
}

.download {
    display: inline-block;
    position: absolute;
    top: -40px;
    right: 0;
    a {
        color: #7b8994;
    }
}

//special
.special-question-list {
    margin-bottom: 0;
}

.upper-part {
    padding-bottom: 18px;
    border-bottom: 1px solid $base-font-grey;
}

.lower-part {
    padding-top: 20px;
}

.small-part {
    float: left;
    width: 25%;
    box-sizing: border-box;

    .answer-list {
        margin-top: 10px;
    }
}

.sub-question {
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
}

.answer-line {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0 20px;

    .left-checkbox {
        float: left;
        margin-right: 16px;
    }
}

