@import '../taskResultPrint';

@page {
    margin: 0cm;
}

html,body {
    margin-bottom: 0;
    overflow: hidden;
}

#main {
    padding: 0 40px;
}

.question-list {
    margin: 0 0 10px 12px;
}

.question {
    font-size: 13px;
    font-weight: 700;
    color: $result-main-color;
}

.answer {
    position: relative;
    margin-top: 2px;

    .text {
        font-size: 10px;
    }
}

.result-circle-radio {
    position: absolute;
    top: 3px;
    left: -20px;
    display: inline-block;
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    border: 1px solid gray;
    border-radius: 50%;
}

.result-circle-radio-checked {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid $result-main-color;
    background-color: $result-main-color;
}

.task-list-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.task-list-part {
    float: left;
    width: 50%;
    box-sizing: border-box;

    &.part-0 {
        padding-right: 15px;
    }

    &.part-1 {
        padding-left: 15px;
        border-left: 1px solid #8e8e8e;
    }
}
