/* line 1, ../../sass/partials/_dummy.scss */
h1 { text-align: center; }

/* line 5, ../../sass/partials/_dummy.scss */
.logout { text-align: center; }
/* line 8, ../../sass/partials/_dummy.scss */
.logout .btn_logout { display: block; border: 1px solid; width: 100px; text-decoration: none; margin-left: 45%; }
